# Numerous always-ignore extensions
*.diff
*.err
*.orig
*.log
*.rej
*.swo
*.swp
*.vi
*~
*.sass-cache

# OS or Editor folders
.DS_Store
Thumbs.db
.cache
.project
.settings
.tmproj
*.esproj
nbproject
*.sublime-project
*.sublime-workspace

# Dreamweaver added files
_notes
dwsync.xml

# Komodo
*.komodoproject
.komodotools

# Folders to ignore
.hg
.svn
.CVS
intermediate
.idea
cache
!/vendor
/vendor/*/tests
/vendor/*/*/tests
/vendor/*/*/*/tests
/vendor/*/*/*/*/tests
/vendor/*/*/*/*/*/tests
/vendor/*/*/*/*/*/*/tests
/vendor/*/*/*/*/*/*/*/tests
/vendor/*/test
/vendor/*/*/test
/vendor/*/*/*/test
/vendor/*/*/*/*/test
/vendor/*/*/*/*/*/test
/vendor/*/*/*/*/*/*/test
/vendor/*/*/*/*/*/*/*/test
/vendor/*/doc
/vendor/*/*/doc
/vendor/*/*/*/doc
/vendor/*/*/*/*/doc
/vendor/*/*/*/*/*/doc
/vendor/*/*/*/*/*/*/doc
/vendor/*/*/*/*/*/*/*/doc
/vendor/*/docs
/vendor/*/*/docs
/vendor/*/*/*/docs
/vendor/*/*/*/*/docs
/vendor/*/*/*/*/*/docs
/vendor/*/*/*/*/*/*/docs
/vendor/*/*/*/*/*/*/*/docs
/vendor/*/examples
/vendor/*/*/examples
/vendor/*/*/*/examples
/vendor/*/*/*/*/examples
/vendor/*/*/*/*/*/examples
/vendor/*/*/*/*/*/*/examples
/vendor/*/*/*/*/*/*/*/examples
/vendor/*/example
/vendor/*/*/example
/vendor/*/*/*/example
/vendor/*/*/*/*/example
/vendor/*/*/*/*/*/example
/vendor/*/*/*/*/*/*/example
/vendor/*/*/*/*/*/*/*/example